/* last five sightings content */
.content-lastfive {
    text-align: center;
}

.image-row{
    width: 40%;
    height: 40%;
}

.image-row img{
    width: 100%;
}

/* hover effect of tables */
tr:hover {
    background-color: #f5f5f5;
}

#profile-name, #alldives {
        font-size: 40px;
    }

.delete-btn {
    color: red;
}

/* styling of back buttons */
.back-btn {
  background-color: #f4511e;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

.back-btn:hover {opacity: 1}