{% extends "index.template.html" %} {% block content %}

<div class="row">
  <div class="col-0 col-lg-2"></div>
  <div class="col-12 col-lg-8 content-lastfive">
  <img src="{{ url_for('static', filename = 'divelogs.png') }}" />
    
    {%for r in results %}
    <table class="table" id='test'>
      <thead class="thead-dark">
        <tr>
          <th colspan="2">
            {{r.location}}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="col">
            Dive Site
          </th>
          <td>
            {{r.divesite}}
          </td>
        </tr>
        <tr>
          <th scope="col">
            Temperature
          </th>
          <td>
            {{r.temperature}}
          </td>
        </tr>
        <tr>
          <th scope="col">
            Depth
          </th>
          <td>
            {{r.depth}}
          </td>
        </tr>
        <tr>
          <th scope="col">
            Date
          </th>
          <td>
            {{r.date}}
          </td>
        </tr>
        <tr>
          <th scope="col">
            Comments
          </th>
          <td>
            {{r.comments}}
          </td>
        </tr>
        <tr>
          <th colspan="2">
            <a href="{{ url_for('search_sights_per_dive' , diveid=r._id) }}"
              >See sightings for this dive</a
            >
          </th>
        </tr>
        <tr>
          <th colspan="2">
            <a
              href="{{ url_for('create_sighting' , diveid=r._id , userid=r.userid) }}"
              >Add a sighting
            </a>
          </th>
        </tr>
        <tr>
          <th colspan="2">
            <a
              href="{{ url_for('edit_dive' , diveid=r._id , userid=r.userid) }}"
              >Edit Dive
            </a>
          </th>
        </tr>
        <tr>
          <th colspan="2">
            <a
              class="delete-btn"
              href="{{ url_for('delete' , diveid=r._id , userid=r.userid, sightid=0, delete_status='d') }}"
              >Delete Dive
            </a>
          </th>
        </tr>
      </tbody>
    </table>
    {%endfor%}
  </div>
  <div class="col-0 col-lg-2"></div>
</div>

<div>
<nav aria-label="...">
    <ul class="pagination">
{%if max_pages >=6  %}
    {%if current_page < 4  %}
        {%if current_page == 1  %}
            <li class="page-item ">
                <a class="page-link active" href="?page=1" >1</a>
            </li>
            <li class="page-item ">
                <a class="page-link " href="?page=2" >2</a>
            </li>
            <li class="page-item ">
                <a class="page-link " href="?page=3" >3</a>
            </li>
            <li class="page-item ">
                <a class="page-link " href="?page=4" >4</a>
            </li>
            

        {%elif current_page == 2  %}
            <li class="page-item ">
                <a class="page-link " href="?page=1" >1</a>
            </li>
            <li class="page-item ">
                <a class="page-link active" href="?page=2" >2</a>
            </li>
            <li class="page-item ">
                <a class="page-link " href="?page=3" >3</a>
            </li>
            <li class="page-item ">
                <a class="page-link " href="?page=4" >4</a>
            </li>
            

        {%elif current_page == 3  %}
            <li class="page-item ">
                <a class="page-link " href="?page=1" >1</a>
            </li>
            <li class="page-item ">
                <a class="page-link " href="?page=2" >2</a>
            </li>
            <li class="page-item ">
                <a class="page-link active" href="?page=3" >3</a>
            </li>
            <li class="page-item ">
                <a class="page-link " href="?page=4" >4</a>
            </li>
            
        {%endif%}

    {% elif (current_page >= 4) and ((max_pages - current_page) >= 3) %}
        {%for p in range(current_page - 3,current_page-1)%}
        <li class="page-item ">
        <a class="page-link " href="?page={{p}}" >{{p}}</a>
        </li>
        {%endfor%}

        <li class="page-item ">
        <a class="page-link active" href="?page={{current_page}}" >{{current_page}}</a>
        </li>

        {%for p in range(current_page+1, current_page+3)%}
        <li class="page-item ">
        <a class="page-link " href="?page={{p}}" >{{p}}</a>
        </li>
        {%endfor%}


    {% elif (current_page >= 4) and ((max_pages - current_page) < 3) %}
        {%for p in range(current_page - 3,current_page)%}
        <li class="page-item ">
        <a class="page-link " href="?page={{p}}" >{{p}}</a>
        </li>
        {%endfor%}

        <li class="page-item ">
        <a class="page-link active" href="?page={{current_page}}" >{{current_page}}</a>
        </li>

        {%for p in range(current_page+1, max_pages+1)%}
        <li class="page-item ">
        <a class="page-link " href="?page={{p}}" >{{p}}</a>
        </li>
        {%endfor%}
    {%endif%}  

{%else%}
    {%for p in range(1,max_pages)%}
            <li class="page-item ">
        <a class="page-link active" href="?page={{p}}" >{{p}}</a>
        </li>
            {%endfor%}
{%endif%}  

</ul>
    </nav>
</div>



<div>
    <button class='back-btn' onclick="goBack()">Back To Profile</button>
</div>
{% endblock %}
