{% extends "index.template.html" %} {% block content %}

<div class="row">
  <div class="col-2"></div>
  <div class="col-8 content-lastfive">
  <img src="{{ url_for('static', filename = 'divelogs.png') }}" />
    
    {%for r in dives %}
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th colspan="2">
            {{r.location}}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="col">
            Dive Site
          </th>
          <td>
            {{r.divesite}}
          </td>
        </tr>
        <tr>
          <th scope="col">
            Temperature
          </th>
          <td>
            {{r.temperature}}
          </td>
        </tr>
        <tr>
          <th scope="col">
            Depth
          </th>
          <td>
            {{r.depth}}
          </td>
        </tr>
        <tr>
          <th scope="col">
            Date
          </th>
          <td>
            {{r.date}}
          </td>
        </tr>
        <tr>
          <th scope="col">
            Comments
          </th>
          <td>
            {{r.comments}}
          </td>
        </tr>
        <tr>
          <th colspan="2">
            <a href="{{ url_for('search_sights_per_dive' , diveid=r._id) }}"
              >See sightings for this dive</a
            >
          </th>
        </tr>
        <tr>
          <th colspan="2">
            <a
              href="{{ url_for('create_sighting' , diveid=r._id , userid=r.userid) }}"
              >Add a sighting
            </a>
          </th>
        </tr>
        <tr>
          <th colspan="2">
            <a
              href="{{ url_for('edit_dive' , diveid=r._id , userid=r.userid) }}"
              >Edit Dive
            </a>
          </th>
        </tr>
        <tr>
          <th colspan="2">
            <a
              class="delete-btn"
              href="{{ url_for('delete' , diveid=r._id , userid=r.userid, sightid=0, delete_status='d') }}"
              >Delete Dive
            </a>
          </th>
        </tr>
      </tbody>
    </table>
    {%endfor%}
    <!-- </div> -->
  </div>
  <div class="col-2"></div>
</div>
{% endblock %}
