<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div>
        <h1>{{sights.species}} {{sights.photos}}</h1>
        <p> {{sights.comments}}</p>

         {%for r in sights %}
         <ul>
        <li>Species: {{r.species}}</li>
        <li>Photos: {{r.photos}}</li>
        <li>Comments: {{r.comments}}</li>
        <a href="{{ url_for('edit_sight' , sightid=r._id , userid=r.userid) }}">Edit Sighting </a>
        <a href="{{ url_for('delete' , diveid=r.diveid , userid=r.userid, sightid=r._id, delete_status='s') }}">Delete Sighting </a>
        </ul>
        {%endfor%}
    </div>

   

</body>
</html>