{% extends "index.template.html" %}


{% block content %}

    <form method="POST" >
        <label>Country</label>
        <input type="text" name="location" required/>
        <br/>
        <label>Dive Site</label>
        <input type="text" name="divesite" required/>
        <br/>
        <label>Temperature</label>
        <input type="text" name="temperature" required/>
        <br/>
        <label>Depth</label>
        <input type="text" name="depth" required/>
        <br/>
        <label>Date</label>
        <input type="date" name="date" required/>
        <br/>
        <label>Comments</label>
        <input type="text" name="comments"/>

        <input type="submit"/>
    </form>

{% endblock %}