{% extends "index.template.html" %}


{% block content %}

    <form method="POST" >
        <label>Location</label>
        <input type="text" name="location"/>
        <br/>
        <label>Dive Site</label>
        <input type="text" name="divesite"/>
        <br/>
        <label>Temperature</label>
        <input type="text" name="temperature"/>
        <br/>
        <label>Depth</label>
        <input type="text" name="depth"/>
        <br/>
        <label>Date</label>
        <input type="date" name="date"/>
        <br/>
        <label>Comments</label>
        <input type="text" name="comments"/>

        <input type="submit"/>
    </form>

{% endblock %}