<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

    <form method="POST">
        <label>First Name</label>
        <input type="text" name="first_name"/>
        <label>Last Name</label>
        <input type="text" name="last_name"/>
        <br/>
        <label>Experience</label>
        <input type="text" name="experience"/>
        <br/>
        <label>Certification</label>
        <input type="text" name="certification"/>
        <br/>
        <label>Email</label>
        <input type="text" name="email" value="{{useremail}}"/>
        <input type="submit"/>
    </form>

<!-- 
    <form method="POST" action="">
        <label>Location</label>
        <input type="text" name="location"/>
        <br/>
        <label>Dive Site</label>
        <input type="text" name="divesite"/>
        <br/>
        <label>Temperature</label>
        <input type="text" name="temperature"/>
        <br/>
        <label>Depth</label>
        <input type="text" name="depth"/>
        <br/>
        <label>Date</label>
        <input type="date" name="divedate"/>
        <br/>
        <label>Comments</label>
        <input type="text" name="divecomments"/>
        <input type="submit"/>
    </form>

    <form method="POST" action="">
        <label>Species</label>
        <input type="text" name="species"/>
        <br/>
        <label>Photos</label>
        <input type="text" name="divephotos"/>
        <br/>
        <label>Comments</label>
        <input type="text" name="sightingcomments"/>
        <input type="submit"/>
    </form> -->



</body>
</html>