{% extends "index.template.html" %}


{% block content %}

    <form method="POST" >
        <label>Location</label>
        <input type="text" name="location" value="{{dives.location}}"/>
        <br/>
        <label>Dive Site</label>
        <input type="text" name="divesite" value="{{dives.divesite}}"/>
        <br/>
        <label>Temperature</label>
        <input type="text" name="temperature" value="{{dives.temperature}}"/>
        <br/>
        <label>Depth</label>
        <input type="text" name="depth" value="{{dives.depth}}"/>
        <br/>
        <label>Date</label>
        <input type="date" name="date" value="{{dives.date}}"/>
        <br/>
        <label>Comments</label>
        <input type="text" name="comments" value="{{dives.comments}}"/>

        <input type="submit"/>
    </form>


{% endblock %}