<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

    <form method="POST" >
        <label>Species</label>
        <input type="text" name="species" value="{{sights.species}}"/>
        <br/>
        <label>Photos</label>
        <input type="text" name="photos" value="{{sights.photos}}"/>
        <br/>
        <label>Comments</label>
        <input type="text" name="comments" value="{{sights.comments}}"/>
        
        <input type="submit"/>
    </form>



</body>
</html>