<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Google fonts css -->
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Merienda:wght@700&family=Source+Code+Pro:wght@700&display=swap" rel="stylesheet"> 
    <!-- Generic css -->
    <link rel="stylesheet" href="{{ url_for('static', filename = 'style.css') }}">
    <!-- Upload care public key -->
    <script>UPLOADCARE_PUBLIC_KEY = "{{uploadcare_public_key}}";</script>
    <!-- Upload care cdn -->
    <script src="https://ucarecdn.com/libs/widget/3.x/uploadcare.full.min.js" charset="utf-8"></script>
    <title>LogIt - The Virtual Dive Log</title>
  </head>
  <body>
    

<!-- nav bar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{{ url_for('index') }}"><img src="{{ url_for('static', filename = 'logo.png') }}"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{{ url_for('index') }}">Home <span class="sr-only"></span></a>
      </li>
      
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Profile
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <!-- email search -->
            <form class="form-inline my-2 my-lg-0" method="POST" action="{{ url_for('search_process') }}">
                <input class="form-control mr-sm-2 email-search-input" type="search" placeholder="Email" name="useremail" aria-label="Search" required>
                <button class="btn btn-outline-info my-2 my-sm-0 email-search-btn" type="submit">Let's go</button>
            </form>

        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('about') }}">About</a>
      </li>
    </ul>
    <!-- search country,dive sites, species -->
    <form class="form-inline my-2 my-lg-0" id='search-form' method="POST" action="{{ url_for('search_all_process') }}">
      <input class="form-control mr-sm-2" id="allsearch-form" type="search" placeholder="Country,DiveSites,Species" aria-label="Search" name="search" required>
      <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
    </form>


  </div>
</nav>
{% block content %}
    <div class='row'>
    <div class="col-0 col-lg-2"></div>
    <div class="col-12 col-lg-8 content-lastfive">
    <img src="static/latestsightings.png"/>
<!-- last 5 sightings -->
{%for r in lastentry %}
  
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Image</th>
      <th scope="col">Species</th>
      <th scope="col">Comments</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row" class="image-row get-species"><img src= "{{r.photos}}" alt="Image not found"/></th>
      <td class='species-onclick get-species'>{{r.species}}</td>
      <td class='get-species'>{{r.comments}}</td>
      
    </tr>
  </tbody>
</table>

{%endfor%}
    </div>
    <div class="col-0 col-lg-2"></div>
    </div>

{% endblock %}

    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!-- Generic JS -->
    <script src="{{ url_for('static', filename = 'app.js') }}" ></script>
  </body>
</html>