<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>

<div>
    {%for r in lastentry %}
         <ul>
        <li>Species: {{r.species}}</li>
        <li><img src= "{{r.photos}}"/></li>
        <li>Comments: {{r.comments}}</li>
        <a href="{{ url_for('edit_sight' , sightid=r._id , userid=r.userid) }}">Edit Sighting </a>
        <a href="{{ url_for('delete' , diveid=r.diveid , userid=r.userid, sightid=r._id, delete_status='s') }}">Delete Sighting </a>
        </ul>
        {%endfor%}
</div>

    <form method="POST">
        <label>Email Address</label>
        <input type="text" name="useremail"/>
        <input type="submit"/>
    </form>


    <form method="POST" action="{{ url_for('search_all_process') }}">
        <label>Search</label>
        <input type="text" name="search"/>
        <input type="submit"/>   
    </form>


</body>
</html>