{% extends "index.template.html" %}


{% block content %}

    <div>
        <h1>{{sights.species}} {{sights.photos}}</h1>
        <p> {{sights.comments}}</p>

         {%for r in sights %}
         <ul>
        <li>Species: {{r.species}}</li>
        <li><img src= "{{r.photos}}"/></li>
        <li>Comments: {{r.comments}}</li>
        <a href="{{ url_for('edit_sight' , sightid=r._id , userid=r.userid) }}">Edit Sighting </a>
        <a href="{{ url_for('delete' , diveid=r.diveid , userid=r.userid, sightid=r._id, delete_status='s') }}">Delete Sighting </a>
        </ul>
        {%endfor%}
    </div>

   

{% endblock %}