{% extends "index.template.html" %} {% block content %}

<div class="row">
  <div class="col-0 col-lg-2"></div>
  <div class="col-12 col-lg-8 content-lastfive">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th colspan="2" id="profile-name">
            {{database.name.firstname}} {{database.name.lastname}}
          </th>
        </tr>
        <tr>
          <td width="440px" colspan="2">
            <img src="{{database.photos}}" alt="Image not found" width="80%" />
          </td>
        </tr>
      </thead>
      <tbody>
        <tr>
         <th style="text-align:center" scope="col">
            Experience
          </th>
          <th style="text-align:center">{{database.experience}}</th>
        </tr>
        <tr>
        <th scope="col">
            Certification
          </th>
          <th>{{database.certification}}</th>
        </tr>
        <tr>
          <th colspan="2">
            <a href="{{ url_for('search_dive' , userid=database._id) }}"
              >See all Dives for User</a
            >
          </th>
        </tr>
        <tr>
          <th colspan="2">
            <a href="{{ url_for('search_sights' , userid=database._id) }}"
              >See all Sightings for User</a
            >
          </th>
        </tr>
        <tr>
          <th colspan="2">
            <a href="{{ url_for('createdive' , userid=database._id) }}"
              >Create new Dive Log</a
            >
          </th>
        </tr>
        <tr>
          <th colspan="2">
            <a class='delete-btn'
              href="{{ url_for('delete' , diveid=0 , userid=database._id, sightid=0, delete_status='u') }}"
              >Delete User
            </a>
          </th>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-0 col-lg-2"></div>
</div>

{% endblock %}
