<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div>
        <h1>Welcome {{database.name.firstname}} {{database.name.lastname}} {{database._id}}</h1>
    </div>

    <div>
    <a href="{{ url_for('search_dive' , userid=database._id) }}">See Dives</a>
    <a href="{{ url_for('search_sights' , userid=database._id) }}">See all Sightingss</a>
    </div>

    <div>
    <a href="{{ url_for('createdive' , userid=database._id) }}">Create new dive log</a>
    </div>

</body>
</html>