{% extends "index.template.html" %} {% block content %}
<!-- search all templates -->
<div class="row">
  <div class="col-0 col-lg-2"></div>
  <div class="col-12 col-lg-8 content-lastfive">
    <img src="{{ url_for('static', filename = 'search.png') }}" />

    <!-- search by country or divesite-->
    {% if status == 'location' %} 
        {%for r in search_result %}
        <table class="table">
        <thead class="thead-dark">
            <tr>
            <th colspan="2">
                {{r.location}}
            </th>
            </tr>
        </thead>
        <tbody>
            <tr>
            <th scope="col">
                Dive Site
            </th>
            <td>
                {{r.divesite}}
            </td>
            </tr>
            <tr>
            <th scope="col">
                Temperature
            </th>
            <td>
                {{r.temperature}}
            </td>
            </tr>
            <tr>
            <th scope="col">
                Depth
            </th>
            <td>
                {{r.depth}}
            </td>
            </tr>
            <tr>
            <th scope="col">
                Date
            </th>
            <td>
                {{r.date}}
            </td>
            </tr>
            <tr>
            <th scope="col">
                Comments
            </th>
            <td>
                {{r.comments}}
            </td>
            </tr>
        </tbody>
        </table>
        {%endfor%} 
    <!-- search by species -->
    {% elif status == 'species' %} 
        {%for r in search_result %}
        <table class="table">
        <thead class="thead-dark">
            <tr>
            <th scope="col">Image</th>
            <th scope="col">Species</th>
            <th scope="col">Comments</th>
            </tr>
        </thead>
        <tbody>
            <tr>
            <th scope="row" class="image-row">
                <img src="{{r.photos}}" alt="Image not found" />
            </th>
            <td>{{r.species}}</td>
            <td>{{r.comments}}</td>
            </tr>
            
            
        </tbody>
        </table>
        {%endfor%} 
    <!-- no search result -->
    {% elif status == 'nothing' %}
    <div>
      <br />
      <br />
      <h1>No result found</h1>
    </div>
    {% endif %}
  </div>
  <div class="col-0 col-lg-2"></div>
</div>

<!-- back button -->
<div>
  <button class="back-btn" onclick="goBack()">Back</button>
</div>

{% endblock %}
